.rc-intro {
  background-color: #222;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.rc-img {
  max-width: 50px;
}

.rc-title {
  font-size: 5rem;
  margin-top: 3rem;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 700;
  letter-spacing: -2px;
}

.rc-description {
  margin-top: 2rem;
  font-size: 2rem;
  color: #ccc;
}

.toolbar{margin: 15px 0;
  button{margin-right: 10px;}
}

.user-image{
  max-width: 60px;
  max-height: 60px;
}
ul{list-style-type: none;border: 1px solid #ccc;
  li{display: block;border-top: 1px solid #ccc;padding:5px;
    &:first-child{border-bottom: 1px solid #ccc;border-top:none;font-weight:bold;}
  }
}
